#bg {
  background-color: #efeae5;
}

.detail-container {
  padding: 30px;
  margin: 30px;
}
.accommodations-header {
  padding-top: 3%;
  padding-bottom: 5%;
}
.carousel-slide {
  margin: auto;
}
.carousel-item img {
  width: 100%;
}
.detail-title {
  display: block;
  padding-bottom: 3%;
}
.detail-title-bar {
  border-bottom: 1px solid gray;
  opacity: 0.35;
}
.detail-description {
  padding-top: 3%;
}
.detail-review p {
  font-size: 12px;
}
.detail-review span {
  opacity: 0.6;
  margin-right: 0.5rem;
}

.detail-booking {
  padding-left: 5%;
  padding-right: 5%;
}

.detail-booking-card {
  border: 0.5px solid gray;
  padding-top: 10%;
  padding-bottom: 10%;
}

.book-button.btn {
  margin-top: 20px;
  background-color: black;
  border-color: black;
  width: 100%;
}
.book-button.btn:hover {
  background-color: #ec695c;
  color: white;
  border: none;
}

.detail-campsite {
  padding-top: 5%;
}
.detail-campsite-card-outter {
  padding-bottom: 5%;
}
.detail-campsite-card {
  padding-top: 5%;
  border: 0.5px solid #ec695c;
  box-sizing: border-box;
  border-radius: 4px;
}
.detail-campsite-card h3 {
  padding-left: 5%;
}
.detail-campsite-card h4 {
  padding-left: 5%;
}
.detail-campsite-card ul {
  list-style-type: none;
  padding-left: 15%;
}
.detail-campsite-card img {
  padding-top: 5px;
  padding-left: 12px;
  height: 30px;
}
.detail-campsite-card p {
  padding-left: 10%;
  padding-right: 10%;
}
.detail-booking-card {
  padding-left: 10%;
  padding-right: 10%;
}
.detail-booking-card-price {
  padding-bottom: 7%;
}
.detail-activities {
  padding-top: 3%;
}
.detail-review-card {
  padding-top: 5%;
  border: 1px solid #ec695c;
  box-sizing: border-box;
  border-radius: 4px;
}
.detail-review-card h4,
.detail-review-card h5,
.detail-review-card p,
.detail-review-card img {
  padding-left: 5%;
  padding-right: 5%;
}
.detail-activities-card {
  padding-top: 2%;
  border: 0.5px solid #ec695c;
  box-sizing: border-box;
  border-radius: 4px;
}

.detail-activities-card h4,
.detail-activities-card img {
  padding-left: 5%;
}
.detail-activities-card p {
  padding-left: 10%;
  padding-right: 10%;
}
.detail-activities-card img {
  height: 50px;
}
#dateleft {
  margin-right: 3rem;
}

#date {
  display: flex;
  flex-direction: row;

  margin-top: 1rem;
  margin-bottom: 1rem;
}
