/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* END DEMO */

.carousel-slide {
  margin: auto;
}

.accommodations-header {
  padding-top: 8%;
  padding-bottom: 8%;
}

.stars {
  padding-left: 5%;
  width: 15px;
  height: 15px;
  left: 133px;
  top: 673px;
}

#dateleft {
  margin-right: 5rem;
}

#date {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
