.tentback {
  background-color: #efeae5;
  background-image: url(/images/CampoTent.png);
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 665px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#results {
  width: 600px;
  height: 750px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  align-items: center;
}

#parks {
  background-color: #4a4a4a;
  width: 500px;
  box-shadow: 2px 4px #b1b1b1;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#parks:hover {
  background-color: rgba(236, 105, 92, 0.29);
}
